bin/
obj/
.vs/
.vscode/
.idea/
.dotnet/
.nuget/
.keys/
*.user
*.suo
*.log
*.cache
*.db
*.db-shm
*.db-wal
Properties/PublishProfiles/
app.stdout.log
app.stderr.log
app.log
appsettings.json
appsettings.Development.json