@model Procedure

<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
<div class="row g-3">
    <div class="col-md-7">
        <label asp-for="Name" class="form-label">اسم الإجراء</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-5">
        <label asp-for="Price" class="form-label">السعر</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
</div>
